<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>616174026379-5u95msvt04isjgn1kvbh6ovrq7b4udfr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCaJF_R_3D73idOiyocdrJBAaNLuCRH2zw</string>
	<key>GCM_SENDER_ID</key>
	<string>616174026379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodie</string>
	<key>PROJECT_ID</key>
	<string>fir-fb56f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-fb56f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616174026379:ios:cb6c617f1d9a8cfb285e8e</string>
	<key>DATABASE_URL</key>
	<string>https://fir-fb56f-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>